@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
  }
.resources:hover .resources-menu{
  opacity: 1;
  visibility: visible;
}